[Unit]
Description=Weekly Molasses backup repository maintenance

[Timer]
OnCalendar=Sun *-*-* 06:30:00
RandomizedDelaySec=15m
Persistent=true

[Install]
WantedBy=timers.target
