[Unit]
Description=Check Molasses every minute

[Timer]
OnBootSec=30s
OnUnitActiveSec=1min
AccuracySec=5s
Unit=molasses-watch.service

[Install]
WantedBy=timers.target
